* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}


 .trapezoid {
      border-bottom: 110px solid #5da251;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      height: 0;
      width: 160px;
      position: absolute;
      top:200px;
      left:300px;
    }

.trapezoid-2 {
      border-bottom: 30px solid #71bf63;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      height: 0;
      width: 140px;
      position: relative;
      top:170px;
      left:310px;
    }

.trapezoid-3 {
      border-bottom: 30px solid #4e8e43;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      width: 160px;
      position: relative;
      top:280px;
      left:300px;
      transform: rotate(180deg);
    }

.trapezoid-4 {
      border-bottom: 20px solid #5da251;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      height: 0;
      width: 60px;
      position: relative;
      top:90px;
      left:350px;
    }

#vase{
	position: absolute;
	top: 90px;
	left:10px;
	transform: scale(0.7);
}


 #circle {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
    }

/*
.diamond-narrow {
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-bottom: 70px solid #f9ecd0;
      position: relative;
      top: -50px;
    }
.diamond-narrow:after {
      content: '';
      position: absolute;
      left: -50px;
      top: 70px;
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-top: 70px solid #f9ecd0;
    }
*/


.parallelogram {
      width: 170px;
      height: 25px;
      transform: skew(-70deg);
      background: #f9ecd0;
      position: absolute;
      top:340px;
      left:470px;
    }

.parallelogram-2 {
      width: 170px;
      height: 25px;
      transform: skew(0deg);
      background: #e4dcca;
      position: absolute;
      top:365px;
      left:435px;
    }

.parallelogram-3 {
      width: 70px;
      height: 25px;
      transform: skewY(-20deg);
      background: #fbf5e9;
      position: absolute;
      top:353px;
      left:605px;
    }

.parallelogram-4 {
      width: 180px;
      height: 240px;
      transform: skewY(-2deg);
      background: #3f716e;
      position: absolute;
      top:100px;
      left:420px;
    }

.parallelogram-5 {
      width: 180px;
      height: 90px;
      transform: skewY(-2deg);
      background: #a9da8a;
      position: absolute;
      top:250px;
      left:420px;
    }

#book-1{
	transform: scale(1.3);
	position: absolute;
	top:-150px;
	left:-220px;
}

#book-2{
	transform: scale(0.9);
	position: absolute;
	left: 20px;
}

.line {
  width: 240px; 
  height: 200px;  
  border: solid 3px #000;
  border-color: #c3c0a5 transparent transparent transparent;
  border-radius: 60%/100px 100px 0 0;
  transform:rotate(60deg);
  position: absolute;
  left: 71px;
  top: 65px;
}

.line-2 {
  width: 250px; 
  height: 200px;  
  border: solid 3px #000;
  border-color: #c3c0a5 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
  transform:rotate(330deg);
  position: absolute;
  left: 285px;
  top: 120px;
}

.line-3 {
  width: 150px; 
  height: 200px;  
  border: solid 3px #000;
  border-color: #c3c0a5 transparent transparent transparent;
  border-radius: 40%/100px 100px 0 0;
  transform:rotate(340deg);
  position: absolute;
  left: 305px;
  top: 160px;
}

