* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}

.table {
      width: 890px;
      height: 355px;
      background: #fffdf9;
      position: absolute;
      top: 190px;
    }

.wall {
      width: 890px;
      height: 545px;
      background: #efe7e6;
      position: absolute;
      top: 00px;
    }

.rectangle {
      width: 290px;
      height: 90px;
      background: #aeb5b333;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      position: absolute;
      top: 360px;
      left: 190px;
    }

.oval {
      width: 290px;
      height: 100px;
      background: #cdd2d1eb;
      border-radius: 290px / 100px;
      position: absolute;
      top: 310px;
      left: 190px;
    }

.rectangle-2 {
      width: 100px;
      height: 90px;
      background: #f3e6db;
      position: absolute;
      top: 260px;
      left: 285px;
    }

.oval-2 {
      width: 100px;
      height: 30px;
      background: #f3e6db;
      border-radius: 100px / 30px;
      position: absolute;
      top: 334px;
      left: 285px;
    }

 .circle {
      width: 110px;
      height: 110px;
      background: #f3e6db;
      border-radius: 50%;
      position:absolute;
      top: 230px;
      left: 200px;
    }

.circle-2 {
      width: 110px;
      height: 110px;
      background: #e6dcd3;
      border-radius: 50%;
      position:absolute;
      top: 225px;
      left: 280px;
    }

.circle-3 {
      width: 110px;
      height: 110px;
      background: #f3e6db;
      border-radius: 50%;
      position:absolute;
      top: 230px;
      left: 360px;
    }

.circle-4-l {
      width: 100px;
      height: 90px;
      background: #f5ede6;
      border-radius: 50%;
      position:absolute;
      top: 225px;
      left: 280px;
    }

.circle-5-l {
      width: 90px;
      height: 85px;
      background: #fdf5ee;
      border-radius: 50%;
      position:absolute;
      top: 230px;
      left: 375px;
    }

 .circle-6 {
      width: 110px;
      height: 110px;
      background: #f3e6d9;
      border-radius: 50%;
      position:absolute;
      top: 170px;
      left: 355px;
    }

 .circle-7 {
      width: 110px;
      height: 110px;
      background: #f3e6d9;
      border-radius: 50%;
      position:absolute;
      top: 170px;
      left: 315px;
    }

 .circle-8 {
      width: 110px;
      height: 110px;
      background: #f3e6d9;
      border-radius: 50%;
      position:absolute;
      top: 170px;
      left: 215px;
    }

 .circle-9 {
      width: 110px;
      height: 110px;
      background: #f3e6d9;
      border-radius: 50%;
      position:absolute;
      top: 170px;
      left: 265px;
    }

.circle-6-l {
      width: 80px;
      height: 75px;
      background: #fdf5ee;
      border-radius: 50%;
      position:absolute;
      top: 240px;
      left: 200px;
    }

.circle-7-l {
      width: 90px;
      height: 80px;
      background: #fdf5ee;
      border-radius: 50%;
      position:absolute;
      top: 170px;
      left: 275px;
    }

.circle-8-l {
      width: 70px;
      height: 50px;
      background: #fdf5ee;
      border-radius: 50%;
      position:absolute;
      top: 175px;
      left: 220px;
      transform: rotate(-40deg);
    }   

.circle-9-l {
      width: 70px;
      height: 50px;
      background: #fdf5ee;
      border-radius: 50%;
      position:absolute;
      top: 170px;
      left: 345px;
      transform: rotate(30deg);
    } 

.circle-10-l {
      width: 70px;
      height: 50px;
      background: #fdf5ee;
      border-radius: 50%;
      position:absolute;
      top: 170px;
      left: 385px;
      transform: rotate(20deg);
    } 

 .circle-10 {
      width: 110px;
      height: 110px;
      background: #fdf5ee;
      border-radius: 50%;
      position:absolute;
      top: 110px;
      left: 285px;
    }

 .circle-11 {
      width: 90px;
      height: 90px;
      background: #e6dcd1;
      border-radius: 50%;
      position:absolute;
      top: 115px;
      left: 287px;
    }

#candle{
	position: absolute;
	left:-40px; 
	top:0px;
}

#box{
	position: absolute;
	left:-20px;
}

.parallelogram {
      width: 200px;
      height: 70px;
      transform: skewY(40deg) scale(0.7);
      background: #355179;
      position: absolute;
      top: 300px;
      left: 500px;
    }

.parallelogram-2 {
      width: 200px;
      height: 70px;
      transform: skewY(-10deg) scale(0.7);
      background: #f5efee;
      position: absolute;
      top: 348px;
      left: 640px;
    }

.parallelogram-3 {
      width: 190px;
      height: 158px;
      transform: skew(50deg,-10deg) scale(0.75);
      background: #638ac1;
      position: absolute;
      top: 218px;
      left: 575px;
    }

.tail-mask {
  height: 30px;
  width: 75px;
  background-color: white;
  position: absolute;
  top: 40px;
  left: 100px;
  z-index: 0;
}

.nose {
  position: absolute;
  top: 250px;
  left: 720px;
  height: 20px;
  width: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  background-color: pink;
}

.body {
  position: absolute;
  top: 190px;
  left: 570px;
  height: 110px;
  width: 190px;
  background-color: #f3eae3;
  border-radius: 40px;
  transform: rotate(20deg);
}

.body-l {
  position: absolute;
  top: 193px;
  left: 576px;
  height: 70px;
  width: 190px;
  background-color: #fffcf7;
  border-radius: 40px;
  transform: rotate(17deg);
}

.body-2 {
  position: absolute;
  top: 200px;
  left: 660px;
  height: 110px;
  width: 100px;
  background-color: #f3eae3;
  border-radius: 40px;
  transform: skewY(-5deg);
}

 .circle-12 {
      width: 90px;
      height: 90px;
      background: #fffcf7;
      border-radius: 45%;
      position:absolute;
      top: 200px;
      left: 675px;
    }

 .body-3 {
  position: absolute;
  top: 92px;
  left: 550px;
  height: 30px;
  width: 90px;
  background-color: #fffcf7;
  border-radius: 20px;
  transform: rotate(-10deg);
}

 .body-4 {
  position: absolute;
  top: 130px;
  left: 520px;
  height: 90px;
  width: 170px;
  background-color: #f3eae3;
  border-radius: 20px;
  transform: rotate(80deg);
}

.triangle-1 {
      position: absolute;
      top: 155px;
      left: 627px;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-left: 100px solid #f7e8dd;
      border-bottom: 50px solid transparent;
      transform: scale(0.5) rotate(-15deg);
    }
  
.triangle-2 {
      position: absolute;
      top: 152px;
      left: 700px;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-left: 100px solid #f7e8dd;
      border-bottom: 50px solid transparent;
      transform: scale(0.45) rotateY(150deg) rotate(-10deg);
    }


.eye-1 {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #554D44;
  position: absolute;
  top: 230px;
  left: 700px;
}
.eye-2 {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #554D44;
  position: absolute;
  top: 230px;
  left: 740px;
}

.mouth-1{  
   width:13px;  
   height:9px;  
   float: left;  
   background-color: #fffcf7;  
   border-radius:50%;  
   box-shadow: 0px 3px 0 0 #554d44;  
   position: absolute;
   top: 268px;
   left: 716px;
   transform: rotate(-20deg);
 }

.mouth-2{  
   width:13px;  
   height:9px;  
   float: left;  
   background-color: #fffcf7;  
   border-radius:50%;  
   box-shadow: 0px 3px 0 0 #554d44;  
   position: absolute;
   top: 268px;
   left: 730px;
   transform: rotate(20deg);
 }

.triangle-3 {
      position: absolute;
      top: 260px;
      left: 630px;
      width: 0;
      height: 0;
      border-top: 90px solid transparent;
      border-left: 70px solid #f7e8dd;
      border-bottom: 30px solid transparent;
      border-top-left-radius: 80%;
      border-top-right-radius: 20%;
      transform: scale(0.4) rotate(200deg);
    }


.triangle-4 {
      position: absolute;
      top: 250px;
      left: 715px;
      width: 0;
      height: 0;
      border-top: 90px solid transparent;
      border-left: 70px solid #f7e8dd;
      border-bottom: 30px solid transparent;
      border-top-left-radius: 80%;
      border-top-right-radius: 20%;
      transform: scale(0.4) rotateX(180deg) rotate(30deg);
    }

.triangle-5 {
      position: absolute;
      top: 218px;
      left: 540px;
      width: 0;
      height: 0;
      border-top: 90px solid transparent;
      border-left: 70px solid #f7e8dd;
      border-bottom: 30px solid transparent;
      border-top-left-radius: 80%;
      border-top-right-radius: 20%;
      transform: scale(0.3) rotate(200deg);
    }