html,body{
	background-color: #243f47;
}

.head{
	width: 100%;
	height: 2315px;
	position: absolute;
	z-index: 8;
	background: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.7, #243f47), to(#000));
	background: -webkit-linear-gradient(#243f47 70%, #000 100%);
	background: -moz-linear-gradient(#243f47 70%, #000 100%);
	background: -o-linear-gradient(#243f47 70%, #000 100%);
	background: linear-gradient(#243f47 70%, #000 100%);
}
.head.active1{
	width: 100%;
	height: 2315px;
	position: absolute;
	z-index: 8;
	background: #b181b1!important;
}
.head.active2{
	width: 100%;
	height: 2315px;
	position: absolute;
	z-index: 8;
	background: #7e7c6f!important;
}
.head.active3{
	width: 100%;
	height: 2315px;
	position: absolute;
	z-index: 8;
	background: #1e3d44!important;
}
.head.active4{
	width: 100%;
	height: 2315px;
	position: absolute;
	z-index: 8;
	background: #8c8a57!important;
}
.head_box{
    width: 1200px;
  	height: 2315px;
    left: 50%;
    top: 45px;
    position: absolute;
    margin-left: -600px;
}
.head_box .left{
	float: left;
}
.head_box .left img{
	width: 82px;
	height: 82px;
}
.head_box .center{
	width: 240px;
	margin: auto;
}
.head_box .right{
	float: right;
	font-family: Helvetica;
	color: #ffffff;
	font-size: 28px;
	padding-top: 10px;
}
.item_img:hover{
	cursor: move;
}
.item1,.item2,.item3,.item4{
	position: absolute;
}
.item1{
	top: 242px;
}
.item2{
	top: 1040px;
	left: 100px;
}
.item3{
	top: 740px;
	left: 460px;
	opacity: 0.8;
}
.item4{
	top: 380px;
	left: 784px;
	opacity: 0.8;
}
.item_img{
	width: 398px;
	height: 588px;
	background-color: #d2ceb6;
}
.item_imgjian{
	width: 396px;
	height: 586px;
	background-color: #d2ceb6;	
	margin-top: 1px;
	margin-left: 1px;
}
.item1.active1 .item_imgjian{
	width: 396px;
	height: 586px;
	margin-top: 1px;
	margin-left: 1px;	
	background: #b181b1!important;	
}
.item1.active2 .item_imgjian{
	width: 396px;
	height: 586px;
	margin-top: 1px;
	margin-left: 1px;	
	background: #7e7c6f!important;	
}
.item1.active3 .item_imgjian{
	width: 396px;
	height: 586px;
	margin-top: 1px;
	margin-left: 1px;	
	background: #1e3d44!important;	
}
.item1.active4 .item_imgjian{
	width: 396px;
	height: 586px;
	margin-top: 1px;
	margin-left: 1px;	
	background: #8c8a57!important;	
}
.item_img .item_img_one{
	width: 188px;
	height: 23px;
	margin: auto;
	position: relative;
	top: 17px;
	border: solid 10px #8b8b56;
}
.item_img  .item_imgtwo{
	width: 385px;
	height: 538px;
	background-color: #4b5552;
	margin: auto;
	margin-top: -5px;
}
.item_border{
	width: 385px;
	height: 538px;
	background-color: #4b5552;
	margin: auto;
	margin-top: -5px;
	opacity: 0.4;
	display: none;	
}
.item1.active1 .item_border{
	width: 385px;
	height: 538px;
	background-color: #4b5552;
	margin: auto;
	margin-top: -5px;
	opacity: 1;
	display: block;		
}
.item1.active1 .item_border span{
    background-color: #b181b1;
    width: 135px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 40px;
    margin-left: 125px;
    margin-top: 249px;
}
.item2.active2 .item_border{
	width: 385px;
	height: 538px;
	background-color: #4b5552;
	margin: auto;
	margin-top: -5px;
	opacity: 1;
	display: block;		
}
.item2.active2 .item_border span{
    background-color: #7e7c6f ;
    width: 135px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 40px;
    margin-left: 125px;
    margin-top: 249px;
}
.item3.active3 .item_border{
	width: 385px;
	height: 538px;
	background-color: #4b5552;
	margin: auto;
	margin-top: -5px;
	opacity: 1;
	display: block;		
}
.item3.active3 .item_border span{
    background-color:#1e3d44;
    width: 135px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 40px;
    margin-left: 125px;
    margin-top: 249px;
}
.item4.active4 .item_border{
	width: 385px;
	height: 538px;
	background-color: #4b5552;
	margin: auto;
	margin-top: -5px;
	opacity: 1;
	display: block;		
}
.item4.active4 .item_border span{
    background-color: #8c8a57;
    width: 135px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 40px;
    margin-left: 125px;
    margin-top: 249px;
}
.item_border.active1{
	width: 385px;
	height: 538px;
	margin: auto;
	margin-top: -5px;
		opacity: 0.4;
	background: #b181b1!important;	
}
.item_border.active2{
	width: 385px;
	height: 538px;
	margin: auto;
	margin-top: -5px;
		opacity: 0.4;
	background: #7e7c6f!important;	
}
.item_border.active3{
	width: 385px;
	height: 538px;
	margin: auto;
	margin-top: -5px;
		opacity: 0.4;
	background: #1e3d44!important;	
}
.item_border.active4{
	width: 385px;
	height: 538px;
	margin: auto;
	margin-top: -5px;
		opacity: 0.4;
	background: #8c8a57!important;	
}
 .item1 .item_imgtwo{
	background: url(../img/04.gif) no-repeat;
	background-size: cover;	
}
.item2 .item_imgtwo{
	background: url(../img/02.gif) no-repeat;
	background-size: cover;	
}
 .item3 .item_imgtwo{
	background: url(../img/01.gif) no-repeat;
	background-size: cover;	
}
 .item4 .item_imgtwo{
	background: url(../img/03.gif) no-repeat;
	background-size: cover;	
}
.item_img .item2{
	top: 800px;
	left: 100px;
}
.item_img .item3{
	top: 495px;
	left: 460px;
	opacity: 0.8;
}
.item_img .item4{
	top: 240px;
	left: 784px;
	opacity: 0.8;
}
.item_title{
    font-family: Helvetica;
    color: #ffffff;
    position: relative;
    top: 1350px;
    width: 100%;
    height: 200px;
}
.item_title .mask{
	 font-size: 28px;
	 text-align: center;
}
.item_title .mask_show{
	width: 100%;
	margin-top: 80px;
}
.item_title .mask_show a{
	color: #FFFFFF;
}
.item_title .mask_show .unit{
	float: left;
	min-width: 240px;
	height: 70px;
	border: solid 5px #8b8b56;
	line-height: 70px;
	margin-left: 35px;
}
.item_title .mask_show .unit span{
	 font-size: 28px;
	 padding-left: 15px;
}
.item_title .mask_show .unit i{
	width: 39px;
	height: 41px;
	display: inline-block;
	background:url(../img/suo.png) no-repeat ;
    margin-top: 12px;
    margin-right: 13px;	
    float: right;
}
.height10{
	width: 100%;
	height: 10px;
	background-color: #c4c4c4;
}
.three{
	width: 100%;
	height: 770px;
	border-bottom: solid 0px #c4c4c4!important;
	position: relative;
	z-index: 8;
}
.three_box{
 width: 1200px;
 margin: auto;
 overflow: hidden;
 margin-top: 45px;
 font-family: Helvetica;
 color: #FFFFFF;
}
.three_box .three_left{
	float: left;
}
.three_box .three_left img{
	width: 82px;
	height: 82px;
}
.three_box .three_right{
	float: right;
	font-family: Helvetica;
	color: #ffffff;
	font-size: 28px;
	padding-top: 10px;
}
.three_show{
width: 1050px;
margin: auto;
overflow: hidden;
text-align: center;
}
.three_show .title{
	margin-top: 200px;
 	font-size: 32px;
 	font-weight: bold;
}
.three_show .subtitle{
	font-size: 20px;
	margin-top: 15px;
}

.three_show .three_show1{
	font-size: 20px;
	margin-top:65px;	
	text-align: left;
}
.three_show .three_show2{
	font-size: 20px;
	margin-top:28px;	
	text-align: left;	
}
.four{
	width: 100%;
	font-family: Helvetica;
	color: #ffffff;	
background: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.6, #243f47), to(#000));
background: -webkit-linear-gradient(#243f47 60%, #000 100%);
background: -moz-linear-gradient(#243f47 60%, #000 100%);
background: -o-linear-gradient(#243f47 60%, #000 100%);
background: linear-gradient(#243f47 60%, #000 100%);
}
.four_box{
width: 1050px;
margin: auto;
overflow: hidden;
text-align: left;
margin-top: -150px;	
position: relative;
z-index: 9;
}
.four_box .top{
width: 100%;
}
.four_box .top .left{
	width: 495px;
	float: left;
}
.four_box .top .left img{
	width: 495px;
	height: 323px;
}
.four_box .top .left .four_show1{
	font-size: 20px;
	margin-top: 10px;
}
.four_box .top .left .four_show2{
	font-size: 20px;
	margin-top: 10px;
}
.four_box .top .right{
	width: 495px;
	float: right;
}
.four_box .top .right .four_show1{
	font-size: 20px;
	margin-top: 10px;
}
.four_box .four_show{
	margin-top: 15px;
}
.four_box .four_show p{
	margin-top: 60px;
	font-size: 20px;
}
.four_show p.title{
text-align: center;
font-size: 32px;
font-weight: bold;
margin-top: 210px;
}
.four_show p.mask{
	margin-top: 65px;
	font-size: 24px;
	padding-bottom: 147px;
}
.four_show p.mask a{
	opacity: 0.8;
	margin-left: 35px;
	color: #FFFFFF;
}
.four_show p.mask a.active{
	opacity: 1;
}
.four_show p.mask a:hover{
	cursor: pointer;
	opacity: 1;
}
.five{
	width: 100%;
	height: 800px;
	border-bottom: solid 0px #c4c4c4!important;
	position: relative;
	z-index: 8;	
}
/*six*/
.six{
	width: 100%;
	font-family: Helvetica;
	color: #ffffff;	
background: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.6, #243f47), to(#000));
background: -webkit-linear-gradient(#243f47 60%, #000 100%);
background: -moz-linear-gradient(#243f47 60%, #000 100%);
background: -o-linear-gradient(#243f47 60%, #000 100%);
background: linear-gradient(#243f47 60%, #000 100%);
}
.six_box{
width: 1050px;
margin: auto;
margin-top: -80px;
overflow: hidden;
text-align: left;
}
.six_box p.tit{
	text-align: center;
	height: 108px;
	margin: auto;
	margin-top: 10px;
}
.six_box p{
	margin-top: 27px;
	font-size: 20px;
}
.six_box p.tit_top{
	margin-top: 45px;
}
.six_box p.title{
text-align: center;
font-size: 32px;
font-weight: bold;
margin-top: 210px;
}
.six_box p.mask{
	margin-top: 65px;
	font-size: 24px;
	padding-bottom: 147px;
}
.six_box p.mask a{
	opacity: 0.8;
	margin-left: 35px;
	color: #FFFFFF;
}
.six_box p.mask a.active{
	opacity: 1;
}
.six_box p.mask a:hover{
	cursor: pointer;
	opacity: 1;
}
/*seven*/
.seven{
	width: 100%;
	height: 870px;
	border-bottom: solid 0px #c4c4c4!important;
	position: relative;
	z-index: 8;	
}
.seven_box{
 width: 1200px;
 margin: auto;
 overflow: hidden;
 margin-top: 45px;
 font-family: Helvetica;
 color: #FFFFFF;
}
.seven_box .seven_left{
	float: left;
}
.seven_box .seven_left img{
	width: 82px;
	height: 82px;
}
.seven_box .seven_right{
	float: right;
	font-family: Helvetica;
	color: #ffffff;
	font-size: 28px;
	padding-top: 10px;
}
.seven_show{
width: 1050px;
margin: auto;
overflow: hidden;
text-align: center;
}
.seven_show .seven_show1{
	font-size: 20px;
	margin-top:65px;	
	text-align: left;
}
.seven_show .title{
	margin-top: 200px;
 	font-size: 32px;
 	font-weight: bold;
}
.seven_show .subtitle{
	font-size: 20px;
	margin-top: 15px;
}
/*eight*/
.eight{
	width: 100%;
	font-family: Helvetica;
	color: #ffffff;	
background: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.6, #243f47), to(#000));
background: -webkit-linear-gradient(#243f47 60%, #000 100%);
background: -moz-linear-gradient(#243f47 60%, #000 100%);
background: -o-linear-gradient(#243f47 60%, #000 100%);
background: linear-gradient(#243f47 60%, #000 100%);
}
.eight_box{
width: 1050px;
margin: auto;
overflow: hidden;
text-align: left;
margin-top: -380px;	
position: relative;
z-index: 9;
}
.eight_imggroup{
	width: 900px;
	margin: auto;
}
.eight_imggroup img{
	width: 216px;
	height: 387px;
	float: left;
}
.eight_box p{
	font-size: 20px;
	margin-top: 35px;
}
.eight_box p.eight_one{
	margin-top: 80px;
}
.eight_box p.title{
text-align: center;
font-size: 32px;
font-weight: bold;
margin-top: 210px;
}
.eight_box p.mask{
	margin-top: 65px;
	font-size: 24px;
	padding-bottom: 147px;
}
.eight_box p.mask a{
	opacity: 0.8;
	margin-left: 35px;
	color: #FFFFFF;
}
.eight_box p.mask a.active{
	opacity: 1;
}
.eight_box p.mask a:hover{
	cursor: pointer;
	opacity: 1;
}
/*nine*/
.nine{
	width: 100%;
	font-family: Helvetica;
	color: #ffffff;	
background: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.6, #243f47), to(#000));
background: -webkit-linear-gradient(#243f47 60%, #000 100%);
background: -moz-linear-gradient(#243f47 60%, #000 100%);
background: -o-linear-gradient(#243f47 60%, #000 100%);
background: linear-gradient(#243f47 60%, #000 100%);
}

.nine_box{
width: 1050px;
margin: auto;
overflow: hidden;
text-align: left;
margin-top: 45px;	
position: relative;
z-index: 9;
}
.nine_box .nine_left{
	float: left;
}
.nine_box .nine_left img{
	width: 82px;
	height: 82px;
}
.nine_box .nine_right{
	float: right;
	font-family: Helvetica;
	color: #ffffff;
	font-size: 28px;
	padding-top: 10px;
}
.nine_show{
	margin-top: 200px;
}
.nine_show .title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.nine_show .mark{
	font-size: 20px;
	margin-top: 100px;
}
.nineimg_group{
	overflow: hidden;
	border-bottom: solid 2px #FFFFFF;
	padding-bottom: 50px;
}
.nineimg_group .img_left{
	width: 502px;
	margin-top: 70px;
	padding-bottom: 56px;
	float: left;
}
.nineimg_group .img_left .en_tip{
	font-size: 22px;
}
.nineimg_group .img_left .ch_tip{
	font-size: 20px;
}
.nineimg_group .img_left .ch_tipone{
	margin-top: 35px;
}
.nineimg_group .img_right{
	float: right;
	width: 538px;
	height: 306px;
	margin-top: 60px;
}
/*ten*/
.ten{
	width: 100%;
	background-color: #040607;
	overflow: hidden;
	padding-bottom: 160px;
}
.ten_item_title{
	width: 1200px;
	margin: auto;
	margin-top: 315px;
}
.ten_mask_show{
	margin-top: 80px;
}
.ten_mask{
	font-size: 28px;
	text-align: center;
	color: #FFFFFF;
}
.ten_item_title .ten_mask_show .ten_unit{
	float: left;
	min-width: 240px;
	height: 70px;
	border: solid 5px #8b8b56;
	line-height: 70px;
	margin-left: 34px;
}
.ten_item_title .ten_mask_show  .ten_unit a{
	color: #FFFFFF;
}
.ten_item_title .ten_mask_show  .ten_unit span{
	 font-size: 28px;
	 padding-left: 15px;
}
.ten_item_title .ten_mask_show .ten_unit i{
	width: 39px;
	height: 41px;
	display: inline-block;
	background:url(../img/suo.png) no-repeat ;
    margin-top: 12px;
    margin-right: 13px;	
    float: right;
}
.top_fixed{
	width: 100%;
	height: 150px;
	position: fixed;
	z-index: 77;
	background-color: #243f47;
	opacity: 0.8;
}
.top_fixed_box{
	width: 1200px;
	margin: auto;
	margin-top: 45px;
}
.top_fixed_box .three_left{
	float: left;
}
.top_fixed_box .three_left img{
	width: 82px;
	height: 82px;
}
.top_fixed_box .three_right{
	    float: right;
    font-family: Helvetica;
    color: #ffffff;
    font-size: 28px;
    padding-top: 10px;
}
.three_nine{
	margin-top:2363px;;
}

